@charset "utf-8";

html {
  font-size: 62.5%; /* 10px=1rem */
}

/* 基本レイアウト
------------------------------------- */
body {
  margin: 2rem 1rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

/* ヘッダー
------------------------------------- */

/* フッター
------------------------------------- */

/* スライダーエリア
------------------------------------- */

/* メインコンテンツエリア
------------------------------------- */

/* -------------------------------------
secondページ
------------------------------------- */
/* メインビジュアル */

/* タイトル部分 */

/* コンテンツ部分 */
