@charset "UTF-8";

/* カラーバリアブル定義 */
:root {
  --color-bg-dark: #333;
  --color-bg-light: #fff;
  --color-border: #ccc;
  --color-border-light: #eee;
  --color-text-main: #000;
  --color-text-sub: #aaa;
  --color-accent: #e62f8b;
}

/* グローバル設定 */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: var(--color-bg-dark);
  font-family: "Lato", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体",
    "Yu Gothic Medium", YuGothic, sans-serif;
}

/* 外枠設定 */
.wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: var(--color-bg-light);
}

/* ヘッダー設定 */
.header {
  width: 100%;
  height: 640px;
  margin-block-start: 0;
  margin-block-end: 10rem;
  background-image: url(../images/header.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-block-end: solid 1px var(--color-border);
}
.header h1 {
  visibility: hidden;
  height: 0;
}

/* ナビゲーション */
.header__navigation ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.header__navigation ul li {
  width: 25%;
  padding: 1rem 0;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 2px var(--color-text-main);
}
.header__navigation ul li a {
  display: block;
  color: var(--color-bg-light);
  transition: 0.2s;
}
.header__navigation ul li a:hover {
  color: var(--color-text-sub);
}

/* メインコンテンツ */
.main {
  width: 100%;
  padding: 0 10%;
}
.main__article {
  width: 100%;
  margin-block-end: 8rem;
}
.main__article h2 {
  margin-block-end: 1.6rem;
  font-size: 2.4rem;
  font-weight: normal;
  color: var(--color-accent);
}
.main__article p {
  font-size: 1.6rem;
  line-height: 1.75;
}
.main__article img {
  width: 100%;
  margin-block-end: 1.6rem;
}

/* フッター */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  line-height: 1.6;
  border-block-start: solid 1px var(--color-border-light);
}
.footer__address {
  margin-block-end: 1rem;
  font-size: 1.4rem;
  text-align: center;
}
.footer__address span {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-accent);
}
.footer__copyright {
  font-size: 1.4rem;
}

/* Media Query スマホ設定
----------------------------------- */
@media (width < 960px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .header {
    height: 0;
    margin-block-end: 16rem;
    padding-block-start: 100%;
    background-image: url("../images/header_sp.jpg");
    background-size: contain;
  }
  .header__navigation ul {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-bg-dark);
  }
  .header__navigation ul li {
    width: 50%;
  }
  .footer {
    width: 100%;
    background-color: var(--color-bg-dark);
  }
  .footer__address {
    font-size: 1.2rem;
    color: var(--color-bg-light);
    text-shadow: 1px 1px 1px var(--color-text-main);
  }
  .footer__copyright {
    font-size: 1.2rem;
    color: var(--color-bg-light);
    text-shadow: 1px 1px 1px var(--color-text-main);
  }
}
