@charset "utf-8";

html {
  font-size: 62.5%; /* 10px=1rem */
}

/* 基本レイアウト
------------------------------------- */
body {
  margin: 2rem 1rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
.wrapper {
  margin: auto;
  width: 960px;
  display: flex;
  flex-direction: column;
}

/* ヘッダー
------------------------------------- */
.header {
  display: flex;
  margin-block-end: 2rem;
}
.header img {
  width: 120px;
}
.header__navigation {
  width: 100%;
}
.header__navigation ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.header__navigation ul li a {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #86b12e;
}
.header__navigation ul li a:hover {
  color: #688924;
}
#toggle-nav {
  display: none;
}

/* フッター
------------------------------------- */
.footer {
  padding: 2rem 0;
  border-block-start: dashed 1px #86b12e;
}
.footer__navigation ul {
  width: 40%;
  margin-block-end: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__navigation ul li a {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #86b12e;
}
.footer__navigation ul li a:hover {
  color: #688924;
}
.footer small {
  font-size: 1.2rem;
  font-weight: bold;
  color: #86b12e;
}

/* スライダーエリア
------------------------------------- */
.slider-outer {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0 auto 3rem;
  border-radius: 1rem;
  overflow: hidden;
}
.slider-inner {
  position: absolute;
  width: 100%;
}
.slider-inner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 4s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* メインコンテンツエリア
------------------------------------- */
.main {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; 変更 */
  justify-content: flex-start;
  gap: 2.4rem;
  margin-block-end: 3rem; /*追加*/
}

.main__item {
  /* width: 23%; 変更*/
  /* margin-block-end: 3rem; 変更*/

  width: calc((100% - 2.4rem * 3) / 4);
  /* (100% - gap合計) ÷ 列数 で幅を割り出しています。
（2.4rem × 3 gaps = 7.2rem を引いて 4等分） */
}
.main__item img {
  width: 100%;
  margin-block-end: 1rem;
  border-radius: 1rem;
}
.main__item h2 {
  margin-block-end: 0.6rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.main__item p {
  font-size: 1.4rem;
}
.main__item a {
  display: block;
  color: #86b12e;
  transition: all 0.5s;
}
.main__item a:hover {
  color: #688924;
}
.smain__item a img {
  transition: all 0.5s;
}
.main__item a:hover img {
  opacity: 0.7;
}

/* -------------------------------------
secondページ
------------------------------------- */
/* メインビジュアル */
.main-visual__second-page {
  margin-block-end: 4rem;
}
.main-visual__second-page img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* タイトル部分 */
.title {
  margin-block-end: 1rem;
}
.title h2 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #86b12e;
}
.title img {
  width: 40px;
  margin-inline-end: 0.5rem;
}

/* コンテンツ部分 */
.content {
  width: 960px;
  display: flex;
  justify-content: space-between;
}
.content__img {
  width: 48%;
  order: 2;
}
.content__img img {
  width: 100%;
  margin-block-end: 2rem;
  border-radius: 10%;
}
.content__text {
  width: 48%;
  order: 1;
}
.content__text h3 {
  margin-block-end: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #86b12e;
}
.content__text img {
  width: 30px;
  margin-inline-end: 0.5rem;
}
.content__text p {
  margin-block-end: 4rem;
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: 0.1rem;
  text-align: justify;
  color: #5d5d5d;
}
.content__text .lead {
  font-size: 2rem;
  font-weight: bold;
}
