@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px = 1rem */
  font-feature-settings: "palt"; /* カーニング設定 */
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

/* ----------
ヘッダー部分
--------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.header__body {
  width: 1200px;
  height: 50px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
.header__body h1 {
  font-size: 4rem;
  font-weight: bold;
}
.header__navigation {
  padding-block-start: 2.8rem;
}
.header__navigation ul {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.header__navigation ul li {
  font-size: 1.4rem;
  font-weight: bold;
}
.header__navigation ul li a {
  color: #333;
  transition: all 0.3s;
}
.header__navigation ul li a:hover {
  color: #888;
}
#toggle-nav {
  display: none;
}

@media (width < 960px) {
  /* トグルメニュー */
  #toggle-nav {
    display: none;
  }
  #toggle-nav:checked ~ .toggle {
    height: 28px;
  }
  #toggle-nav:checked ~ .toggle div {
    background-color: #fff;
  }
  #toggle-nav:checked ~ .toggle div:nth-of-type(1) {
    margin-top: 12px;
  }
  #toggle-nav:checked ~ .toggle div:nth-of-type(2) {
    margin-top: -20px;
  }
  #toggle-nav:checked ~ .navigation {
    opacity: 1;
    visibility: visible;
  }
  .toggle {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 12px;
    right: 0;
    width: 32px;
  }
  .toggle div {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #333;
    transition: background-color 0.5s, transform 0.5s;
  }
  .toggle div:nth-of-type(2) {
    margin: 4px 0;
  }

  /* メニュー＆背景 */
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
  }
  .navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navigation ul li {
    padding-inline: 1rem;
    font-size: 1.75rem;
  }
  .navigation ul li a,
  .navigationul ul li a:hover {
    color: #fff;
  }
}

/* ----------
メインビジュアル
--------------------------------*/
.mainvisual {
  width: 100%;
  height: 100vh;
  margin-block-end: 10rem;
  margin-inline: auto;
  background-image: url(../images/mainvisual01.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* ----------
2カラム部分
--------------------------------*/
.layout2 {
  margin-block-end: 10rem;
}
.layout2__wrapper {
  width: 960px;
  margin-inline: auto;
}
.layout2__wrapper h2 {
  margin-block-end: 4rem;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}
.layout2__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
}
.layout2__item {
  width: calc((100% - 4rem) / 2);
  padding: 3rem;
  background-color: #f0f0f0;
}
.layout2__item img {
  width: 100%;
  margin-block-end: 3rem;
}
.layout2__item h3 {
  margin-block-end: 2rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}
.layout2__item p {
  font-size: 1.4rem;
  line-height: 1.75;
  text-align: justify;
}
@media (width < 960px) {
  .layout2__wrapper {
    width: 100%;
    flex-direction: column;
  }
  .layout2__item {
    width: 100%;
  }
}
/* ----------
3カラム部分
--------------------------------*/
.layout3 {
  margin-block-end: 10rem;
}
.layout3__wrapper {
  width: 960px;
  margin-inline: auto;
}
.layout3__wrapper h2 {
  margin-block-end: 4rem;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}
.layout3__body {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}
.layout3__item {
  width: calc((960px - 2.4rem * 2) / 3);
  padding: 2rem;
  background-color: #f0f0f0;
}
.layout3__item img {
  width: 100%;
  margin-block-end: 3rem;
}
.layout3__item h3 {
  margin-block-end: 2rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}
.layout3__item p {
  font-size: 1.43rem;
  line-height: 1.75;
  text-align: justify;
}
@media (width < 960px) {
  .layout3__wrapper {
    width: 100%;
    flex-direction: column;
  }
  .layout3__item {
    width: 100%;
  }
}
/* ----------
画像テキスト入れ替えエリア
--------------------------------*/
.layout4 {
  margin-block-end: 10rem;
}
.layout4__wrapper {
  width: 960px;
  margin-inline: auto;
}
.layout4__wrapper h2 {
  margin-block-end: 4rem;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}
.layout4__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block-end: 6rem;
  padding: 2rem;
  background-color: #f0f0f0;
}
.layout4__item:nth-child(even) {
  flex-direction: row-reverse;
}
.layout4__img {
  width: 35%;
}
.layout4__img img {
  width: 100%;
}
.layout4__txt {
  width: 60%;
}
.layout4__txt h3 {
  margin-block-end: 2rem;
  font-size: 2.2rem;
  font-weight: bold;
}
.layout4__txt p {
  font-size: 1.4rem;
  line-height: 1.75;
  text-align: justify;
}
@media (width <960px) {
  .layout4__wrapper {
    width: 100%;
  }
  .layout4__item {
    flex-direction: column;
    width: 100%;
  }
  .layout4__img {
    width: 100%;
    margin-block-end: 3rem;
  }
  .layout4__txt {
    width: 100%;
  }
}
/* ----------
フッターエリア
--------------------------------*/
.footer {
  padding-block: 10rem;
  background-color: #f0f0f0;
}
.footer p {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}
