@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP:wght@400;700&display=swap");
/*-----------------------
A Modern CSS Reset
------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.header {
  position: relative;
  margin-block-end: 8rem;
  height: 100vh;
  background-image: url("../images/mainvisual.jpg");
}
.header h1 {
  position: absolute;
  top: 3rem;
  left: 0;
  padding: 1rem 3rem;
  background-color: #222;
  font-size: 6rem;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  color: #fff;
}
.header span {
  font-weight: normal;
}
.header a {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease;
}
.header a:hover {
  color: #d8d8d8;
}

.header-second-page {
  position: relative;
  margin-block-end: 8rem;
  height: 50vh;
  background-image: url("../images/mainvisual2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-second-page h1 {
  position: absolute;
  top: 3rem;
  left: 0;
  padding: 1rem 3rem;
  background-color: #222;
  font-size: 6rem;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  color: #fff;
}
.header-second-page span {
  font-weight: normal;
}
.header-second-page a {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease;
}
.header-second-page a:hover {
  color: #d8d8d8;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #222;
}
.footer__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  color: #fff;
}
.footer__title h2 {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
}
.footer__title a {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease;
}
.footer__title a:hover {
  color: #d8d8d8;
}
.footer__title span {
  font-weight: normal;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-end: 6rem;
  color: #fff;
}

.layout-type-a {
  max-width: 1200px;
  margin-block-end: 8rem;
  margin-inline: auto;
  text-align: center;
}
.layout-type-a h2 {
  margin-block-end: 1rem;
  font-size: 4rem;
  font-weight: normal;
  line-height: 1.2;
  color: #222;
}
.layout-type-a p {
  font-size: 2rem;
  line-height: 1.75;
  color: #222;
}
@media (max-width: 600px) {
  .layout-type-a {
    padding-inline: 5%;
  }
  .layout-type-a h2 {
    font-size: 2.8rem;
  }
  .layout-type-a p {
    font-size: 1.4rem;
  }
}

.layout-type-b {
  max-width: 1200px;
  margin-block-end: 8rem;
  margin-inline: auto;
  text-align: center;
}
.layout-type-b__wrapper {
  display: flex;
  justify-content: space-between;
}
.layout-type-b__body {
  width: 49%;
  position: relative;
}
.layout-type-b__body a {
  transition: all 0.5s ease;
}
.layout-type-b__body a:hover {
  opacity: 0.8;
}
.layout-type-b__text {
  width: 100%;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.layout-type-b__text h2 {
  margin-block-end: 1rem;
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 1.2;
  color: #fff;
}
.layout-type-b__text p {
  font-size: 1.4rem;
  line-height: 1.75;
  color: #fff;
}
@media (max-width: 600px) {
  .layout-type-b {
    padding: 5%;
  }
  .layout-type-b__wrapper {
    flex-direction: column;
  }
  .layout-type-b__body {
    width: 100%;
  }
  .layout-type-b__body:first-child {
    margin-block-end: 3rem;
  }
}

.layout-type-c {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 8rem;
  height: 520px;
  background-image: url("../images/image005.jpg");
  background-size: cover;
  background-position: center top;
  text-align: center;
}
.layout-type-c h2 {
  margin-block-end: 1rem;
  font-size: 4rem;
  font-weight: normal;
  line-height: 1.2;
  color: #fff;
  text-shadow: 1px 1px 1px #111;
}
.layout-type-c p {
  font-size: 2rem;
  line-height: 1.75;
  color: #fff;
  text-shadow: 1px 1px 1px #111;
}
@media (max-width: 600px) {
  .layout-type-c {
    padding: 10%;
  }
  .layout-type-c h2 {
    font-size: 3rem;
  }
  .layout-type-c p {
    font-size: 1.6rem;
  }
}

.layout-type-d {
  margin-block-end: 8rem;
  padding-block: 6rem;
  padding-inline: 2%;
  background-color: #eee;
}
.layout-type-d__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}
.layout-type-d__item {
  width: 49%;
}
.layout-type-d h2 {
  margin-block-end: 2rem;
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.2;
  color: #222;
}
.layout-type-d p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #222;
}
@media (max-width: 600px) {
  .layout-type-d__body {
    flex-direction: column;
  }
  .layout-type-d__item {
    width: 95%;
  }
  .layout-type-d__item img {
    margin-block-end: 2.2rem;
  }
}

.layout-type-e {
  margin-block-end: 8rem;
  padding-block: 6rem;
  background-color: #eee;
}
.layout-type-e__body {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.layout-type-e__item {
  width: 48%;
}
.layout-type-e__item img {
  margin-block-end: 2rem;
}
.layout-type-e__item img:last-child {
  margin-block-end: 0rem;
}
.layout-type-e h2 {
  margin-block-end: 4rem;
  font-size: 4rem;
  font-weight: normal;
  line-height: 2;
  color: #222;
}
.layout-type-e p {
  margin-block-end: 4rem;
  font-size: 1.8rem;
  line-height: 2;
  color: #222;
}
@media (max-width: 600px) {
  .layout-type-e__body {
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
  }
  .layout-type-e__item {
    width: 90%;
    margin-block-end: 4rem;
  }
  .layout-type-e__item p:last-child {
    margin-block-end: -4rem;
  }
}

.button a {
  margin-block-start: 3rem;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  display: inline-block;
  background-color: #222;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease;
}
.button a:hover {
  background-color: #404040;
}