@charset "utf-8";

html {
  font-size: 62.5%; /* 10px=1rem */
}

/* 基本レイアウト
------------------------------------- */
body {
  margin: 2rem 1rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
.wrapper {
  margin: auto;
  width: 960px;
  display: flex;
  flex-direction: column;
}

/* ヘッダー
------------------------------------- */
.header {
  display: flex;
  margin-block-end: 2rem;
}
.header__logo {
  width: 120px;
}
.header__logo-image {
  width: 100%;
}
/* ナビゲーション */
.header__nav {
  width: 100%;
}
.header__nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.header__nav-link {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #86b12e;
  text-decoration: none;
  transition: all 0.2s;
}
.header__nav-link:hover {
  color: #688924;
}
#toggle-nav {
  display: none;
}
/* フッター
------------------------------------- */
.footer {
  padding-block: 2rem;
  border-block-start: dashed 1px #86b12e;
}
.footer__nav-list {
  width: 40%;
  margin-block-end: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__nav-link {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #86b12e;
  transition: all 0.2s;
}
.footer__nav-link:hover {
  color: #688924;
}
.footer__copyright {
  font-size: 1.2rem;
  font-weight: bold;
  color: #86b12e;
}

/* スライダーエリア
------------------------------------- */
.slider__outer {
  position: relative;
  width: 100%;
  height: 400px;
  margin-block-end: 3rem;
  margin-inline: auto;
  border-radius: 1rem;
  overflow: hidden;
}
.slider__inner {
  position: absolute;
  width: 100%;
}
.slider__image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 4s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
/* メインコンテンツエリア
------------------------------------- */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 2.4rem;
  margin-block-end: 3rem;
}
.main__item {
  width: calc((100% - 2.4rem * 3) / 4);
}
.main__item-image {
  width: 100%;
  margin-block-end: 1rem;
  border-radius: 1rem;
  transition: all 0.5s;
}
.main__item-image:hover {
  opacity: 0.7;
}
.main__item-title {
  margin-block-end: 0.6rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.main__item-text {
  font-size: 1.4rem;
}
.main__item-link {
  display: block;
  color: #86b12e;
  transition: all 0.5s;
}
.main__item-link:hover {
  color: #688924;
}

/* -------------------------------------
secondページ
------------------------------------- */
/* メインビジュアル */
.main-visual__second-page {
  margin-block-end: 4rem;
}
.main-visual__second-page-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* タイトル部分 */
.heading {
  margin-block-end: 1rem;
}
.heading__title {
  font-size: 2.8rem;
  font-weight: bold;
  color: #86b12e;
}
.heading__image {
  width: 40px;
  margin-inline-end: 0.5rem;
}

/* コンテンツ部分 */
.content {
  width: 960px;
  display: flex;
  justify-content: space-between;
}
.content__visual {
  width: 48%;
  order: 2;
}
.content__image {
  width: 100%;
  margin-block-end: 2rem;
  border-radius: 10%;
}
.content__text {
  width: 48%;
  order: 1;
}
.content__text-title {
  margin-block-end: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #86b12e;
}
.content__text-image {
  width: 30px;
  margin-inline-end: 0.5rem;
}
.content__text-sentence {
  margin-block-end: 4rem;
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: 0.05rem;
  text-align: justify;
  color: #5d5d5d;
}
.content__text-lead {
  margin-block-end: 4rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0.05rem;
  text-align: justify;
  color: #5d5d5d;
}
