/////////////////////
// main
/////////////////////
@use "../base/variable" as var;

/////////////////
// layout-type-a
/////////////////
.layout-type-a {
  max-width: 100%; //変更
  margin-block-end: 8rem;
  margin-inline: auto;
  padding-inline: 10%; //追加
  text-align: center;
  &__title {
    margin-block-end: 1rem;
    font-size: 3rem; //変更
    font-weight: normal;
    line-height: 1.2;
    color: var.$text-color-dark;
  }
  &__text {
    font-size: 1.6rem; //変更
    line-height: 1.75;
    color: var.$text-color-dark;
  }
  //　削除
  // @media (max-width: 600px) {
  //   padding-inline: 5%;
  //   &__title {
  //     font-size: 2.8rem;
  //   }
  //   &__text {
  //     font-size: 1.4rem;
  //   }
  // }
}

/////////////////
// layout-type-b
/////////////////
.layout-type-b {
  max-width: 100%; //変更
  margin-block-end: 8rem;
  margin-inline: auto;
  text-align: center;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column; //追加
  }
  &__body {
    width: 100%; //変更
    margin-block-end: 3rem; //追加
    position: relative;
  }
  &__link {
    transition: all 0.5s ease;
    &:hover {
      opacity: 0.8;
    }
  }
  &__body:last-child {
    //追加
    margin-block-end: 0rem;
  }
  &__text {
    width: 100%;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    margin-block-end: 1rem;
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 1.2;
    color: var.$text-color-light;
  }
  &__description {
    font-size: 1.4rem;
    line-height: 1.75;
    color: var.$text-color-light;
  }
  // 削除
  // @media (max-width: 600px) {
  //   padding: 5%;
  //   &__wrapper {
  //     flex-direction: column;
  //   }
  //   &__body {
  //     width: 100%;
  //   }
  //   &__body:first-child {
  //     margin-block-end: 3rem;
  //   }
  // }
}

/////////////////
// layout-type-c
/////////////////
.layout-type-c {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 8rem;
  padding-inline: 10%; //追加
  height: 520px;
  background-image: url("../images/image005.jpg");
  background-size: cover;
  background-position: center top;
  text-align: center;
  &__title {
    margin-block-end: 1rem;
    font-size: 3rem; //変更
    font-weight: normal;
    line-height: 1.2;
    color: var.$text-color-light;
    text-shadow: 1px 1px 1px #111;
  }
  &__text {
    font-size: 1.6rem; //変更
    line-height: 1.75;
    color: var.$text-color-light;
    text-shadow: 1px 1px 1px #111;
  }
  // @media (max-width: 600px) {
  //   padding: 10%;
  //   &__title {
  //     font-size: 3rem;
  //   }
  //   &__text {
  //     font-size: 1.6rem;
  //   }
  // }
}

/////////////////
// layout-type-d
/////////////////
.layout-type-d {
  margin-block-end: 8rem;
  padding-block: 6rem;
  padding-inline: 2%;
  background-color: var.$main-color-light;
  &__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; //追加
    max-width: 90%; //変更
    margin-inline: auto;
  }
  &__item-image {
    margin-block-end: 2.2rem; //追加
  }
  &__item-text {
    width: 100%; //変更
  }
  &__title {
    margin-block-end: 2rem;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1.2;
    color: var.$text-color-dark;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var.$text-color-dark;
  }
  // 削除
  // @media (max-width: 600px) {
  //   &__body {
  //     flex-direction: column;
  //   }
  //   &__item--text {
  //     width: 95%;
  //   }
  //   &__item--image {
  //     width: 95%;
  //     margin-block-end: 2.2rem;
  //   }
  // }
}

/////////////////
// layout-type-e (second page)
/////////////////
.layout-type-e {
  margin-block-end: 8rem;
  padding-block: 6rem;
  background-color: var.$main-color-light;
  &__body {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    flex-direction: column; //変更
    // justify-content: space-between;　//削除
  }
  &__item--images {
    width: 90%; //変更
    margin-inline: auto; //追加
  }
  &__image {
    margin-block-end: 2rem;
    &:last-child {
      margin-block-end: 0rem;
    }
  }
  &__item--text {
    width: 90%; //変更
    margin-inline: auto; //追加
  }
  &__title {
    margin-block-end: 4rem;
    font-size: 4rem;
    font-weight: normal;
    line-height: 2;
    color: var.$text-color-dark;
  }
  &__text {
    margin-block-end: 4rem;
    font-size: 1.8rem;
    line-height: 2;
    color: var.$text-color-dark;
    &:last-child {
      margin-block-end: 0rem;
    }
  }
  // 削除
  // @media (max-width: 600px) {
  //   &__body {
  //     flex-direction: column;
  //     align-items: center;
  //     margin-inline: auto;
  //   }
  //   &__item--images {
  //     width: 90%;
  //     margin-block-end: 4rem;
  //   }
  //   &__image {
  //     width: 100%;
  //   }
  //   &__item--text {
  //     width: 90%;
  //     &:last-child {
  //       margin-block-end: -4rem;
  //     }
  //   }
  // }
}
