/////////////////////
// main
/////////////////////
@use "../base/variable" as var;

/////////////////
// layout-type-a
/////////////////
.layout-type-a {
  max-width: 1200px;
  // margin: 0 auto 8rem;
  margin-block-end: 8rem;
  margin-inline: auto;
  text-align: center;
  h2 {
    margin-block-end: 1rem;
    font-size: 4rem;
    font-weight: normal;
    line-height: 1.2;
    color: var.$text-color-dark;
  }
  p {
    font-size: 2rem;
    line-height: 1.75;
    color: var.$text-color-dark;
  }
  @media (max-width: 600px) {
    // padding: 0 5%;
    padding-inline: 5%;
    h2 {
      font-size: 2.8rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
}

/////////////////
// layout-type-b
/////////////////
.layout-type-b {
  max-width: 1200px;
  margin-block-end: 8rem;
  margin-inline: auto;
  text-align: center;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__body {
    width: 49%;
    position: relative;
    a {
      transition: all 0.5s ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__text {
    width: 100%;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      margin-block-end: 1rem;
      font-size: 2.4rem;
      font-weight: normal;
      line-height: 1.2;
      color: var.$text-color-light;
    }
    p {
      font-size: 1.4rem;
      line-height: 1.75;
      color: var.$text-color-light;
    }
  }
  @media (max-width: 600px) {
    padding: 5%;
    &__wrapper {
      flex-direction: column;
    }
    &__body {
      width: 100%;
    }
    &__body:first-child {
      margin-block-end: 3rem;
    }
  }
}

/////////////////
// layout-type-c
/////////////////
.layout-type-c {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 8rem;
  height: 520px;
  background-image: url("../images/image005.jpg");
  background-size: cover;
  background-position: center top;
  text-align: center;
  h2 {
    margin-block-end: 1rem;
    font-size: 4rem;
    font-weight: normal;
    line-height: 1.2;
    color: var.$text-color-light;
    text-shadow: 1px 1px 1px #111;
  }
  p {
    font-size: 2rem;
    line-height: 1.75;
    color: var.$text-color-light;
    text-shadow: 1px 1px 1px #111;
  }
  @media (max-width: 600px) {
    padding: 10%;
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
}

/////////////////
// layout-type-d
/////////////////
.layout-type-d {
  margin-block-end: 8rem;
  padding-block: 6rem;
  padding-inline: 2%;
  background-color: var.$main-color-light;
  &__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
  }
  &__item {
    width: 49%;
  }
  h2 {
    margin-block-end: 2rem;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1.2;
    color: var.$text-color-dark;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var.$text-color-dark;
  }
  @media (max-width: 600px) {
    &__body {
      flex-direction: column;
    }
    &__item {
      width: 95%;
      img {
        margin-block-end: 2.2rem;
      }
    }
  }
}

/////////////////
// layout-type-e (second page)
/////////////////
.layout-type-e {
  margin-block-end: 8rem;
  padding-block: 6rem;
  background-color: var.$main-color-light;
  &__body {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    width: 48%;
    img {
      margin-block-end: 2rem;
      &:last-child {
        margin-block-end: 0rem;
      }
    }
  }
  h2 {
    margin-block-end: 4rem;
    font-size: 4rem;
    font-weight: normal;
    line-height: 2;
    color: var.$text-color-dark;
  }
  p {
    margin-block-end: 4rem;
    font-size: 1.8rem;
    line-height: 2;
    color: var.$text-color-dark;
  }
  @media (max-width: 600px) {
    &__body {
      flex-direction: column;
      align-items: center;
      margin-inline: auto;
    }
    &__item {
      width: 90%;
      margin-block-end: 4rem;
      p:last-child {
        margin-block-end: -4rem;
      }
    }
  }
}
