@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  //追加
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

//追加
.wrapper {
  width: 100%;
  display: flex;
}
.wrapper__left {
  width: 40%;
  position: relative;
  &-item {
    width: 50%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-img {
      width: 300px;
      filter: drop-shadow(0 0 5px #252525);
      opacity: 0.95;
    }
  }
}
.wrapper__right {
  width: 60%;
}
.wrapper__contents {
  width: 400px;
  margin-inline: auto;
  background-color: #fff;
  filter: drop-shadow(0 0 10px #252525);
}

//モバイルサイズ対応
@media screen and (max-width: 600px) {
  .wrapper__left {
    width: 0%;
    visibility: hidden;
  }
  .wrapper__right {
    width: 100%;
  }
  .wrapper__contents {
    width: 100%;
  }
}
